@use 'tailwindcss';
@use './styles/theme';

html,
body {
	background: var(--c-bg-primary);
	color: var(--c-text-primary);
	font-family: var(--ff-base);
	font-size: var(--fs);
	letter-spacing: var(--letter-spacing);
}

body {
	min-height: 100vh;
	margin: 0;
}

@plugin "@tailwindcss/typography";

.material-symbols-outlined {
	font-family: 'Material Symbols Outlined', sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	font-feature-settings: 'liga';
	user-select: none;
}
